[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
yapf = "*"
isort = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
